<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Title -->
    <title>Vehicle Registration Details</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta charset="UTF-8">
    <meta name="description" content="Responsive Admin Dashboard Template"/>
    <meta name="keywords" content="admin,dashboard"/>
    <meta name="author" content="Ron"/>

    {% load static %}
    <!-- Styles -->
    <link type="text/css" rel="stylesheet"
          href="{% static 'carreg/assets/plugins/materialize/css/materialize.min.css' %}"/>
    <link href="{% static 'carreg/assets/css/material.css' %}" rel="stylesheet">
    <link href="{% static 'carreg/assets/plugins/material-preloader/css/materialPreloader.min.css' %}"
          rel="stylesheet">


    <!-- Theme Styles -->
    <link href="{% static 'carreg/assets/css/alpha.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'carreg/assets/css/custom.css' %}" rel="stylesheet" type="text/css"/>


</head>
<body>
<div class="loader-bg"></div>
<div class="loader">
    <div class="preloader-wrapper big active">
        <div class="spinner-layer spinner-blue">
            <div class="circle-clipper left">
                <div class="circle"></div>
            </div>
            <div class="gap-patch">
                <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
                <div class="circle"></div>
            </div>
        </div>
        <div class="spinner-layer spinner-spinner-teal lighten-1">
            <div class="circle-clipper left">
                <div class="circle"></div>
            </div>
            <div class="gap-patch">
                <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
                <div class="circle"></div>
            </div>
        </div>
        <div class="spinner-layer spinner-yellow">
            <div class="circle-clipper left">
                <div class="circle"></div>
            </div>
            <div class="gap-patch">
                <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
                <div class="circle"></div>
            </div>
        </div>
        <div class="spinner-layer spinner-green">
            <div class="circle-clipper left">
                <div class="circle"></div>
            </div>
            <div class="gap-patch">
                <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
                <div class="circle"></div>
            </div>
        </div>
    </div>
</div>
<div class="mn-content fixed-sidebar">

    {% include 'carreg/side_menu.html' %}
    <main class="mn-inner">
        <div class="row">
            <div class="col s12">
                <div class="page-title">Vehicle Registration Details</div>
            </div>
            <div class="col s12 m12 l12">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Vehicle Registration Details</span><br>
                        <a href="/vehicle_registration_details" class="btn maroon waves-effect waves-light ">
                            <i class="material-icons right">arrow_left</i>
                            Back
                        </a>
                        <div class="row">
                            <!-- <input id="phash" type="text" readonly> -->
                            <form action="" method="POST" class="col s12">

                                {% csrf_token %}

                                <div class="row">
                                    <div class="input-field col s12 m6">
                                        <input name="name" id="name" type="text" class="validate" readonly>
                                        <label for="value">*Full Names</label>
                                    </div>
                                    <div class="input-field col s12 m6">
                                        <input name="national" id="national" type="text" class="validate" readonly>
                                        <label for="value">*ID Number</label>
                                    </div>
                                    <div class="input-field col s12 m6">
                                        <input name="mobile" id="mobile" type="number" class="validate" readonly>
                                        <label for="value">*Mobile Phone Number</label>
                                    </div>
                                    <div class="input-field col s12 m6">
                                        <input name="dob" id="dob" type="text" class="validate" readonly>
                                        <label for="value">*Date of Birth</label>
                                    </div>
                                    <div class="input-field col s12 m6">
                                        <input name="pin" id="pin" type="text" class="validate" readonly>
                                        <label for="value">*PIN Number</label>
                                    </div>
                                    <div class="input-field col s12 m6">
                                        <input name="email" id="email" type="text" class="validate" readonly>
                                        <label for="value">*Email</label>
                                    </div>
                                    <!-- <div hidden class="input-field col s12 m6">
                                        <input name="phash" id="phash" type="hidden" class="validate" readonly>
                                        <label for="value">*Previous Hash</label>
                                    </div> -->
                                    <div class="input-field col s12 m6">
                                        <input name="reg" id="reg" type="text" class="validate" readonly>
                                        <label for="value">*Vehicle Plate Number</label>
                                    </div>
                                    <div class="input-field col s12 m6">
                                        <input name="type" id="type" type="text" class="validate" readonly>
                                        <label for="value">*Vehicle Type</label>
                                    </div>
                                    <div class="input-field col s12 m6">
                                        <input name="make" id="make" type="text" class="validate" readonly>
                                        <label for="value">*Vehicle Make</label>
                                    </div>
                                    <div class="input-field col s12 m6">
                                        <input name="model" id="model" type="text" class="validate" readonly>
                                        <label for="value">*Vehicle Model</label>
                                    </div>
                                    <div class="input-field col s12 m6">
                                        <input name="year" id="year" type="text" class="validate" readonly>
                                        <label for="value">*Year of Manufacture</label>
                                    </div>


                                </div>


                                <div class="row">
                                    <div class="col s4">
                                        <button class="btn maroon waves-effect waves-light " type="button"
                                                onclick="add_vehicle()"
                                                id="addData">Submit
                                            <i class="material-icons right">send</i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
<div class="left-sidebar-hover"></div>

<!-- Javascripts -->
<script src="{% static 'carreg/assets/plugins/jquery/jquery-2.2.0.min.js' %}"></script>
<script src="{% static 'carreg/assets/plugins/materialize/js/materialize.min.js' %}"></script>
<script src="{% static 'carreg/assets/plugins/material-preloader/js/materialPreloader.min.js' %}"></script>
<script src="{% static 'carreg/assets/plugins/jquery-blockui/jquery.blockui.js' %}"></script>
<script src="{% static 'carreg/assets/js/alpha.min.js' %}"></script>
<script src="{% static 'carreg/assets/js/pages/form_elements.js' %}"></script>
<script src="{% static 'carreg/assets/plugins/google-code-prettify/prettify.js' %}"></script>
<script type="text/javascript">
    var user = {};
    user = JSON.parse(localStorage.getItem('userProfile'));
    if (user.national_id === 11111111) {
        window.location.replace("/admin");
    }
    var car = {};
    car = JSON.parse(localStorage.getItem('carReg'));
    console.log(user);
    console.log(car);

    $(document).ready(function () {
        // document.getElementById('phash').value = car.hash;
        document.getElementById('year').value = car.year;
        document.getElementById('type').value = car.type;
        document.getElementById('reg').value = car.reg_no;
        document.getElementById('model').value = car.model;
        document.getElementById('make').value = car.make;
        document.getElementById('name').value = user.fullname;
        document.getElementById('national').value = user.national_id;
        document.getElementById('mobile').value = user.mobile;
        document.getElementById('dob').value = user.dob;
        document.getElementById('pin').value = user.pin;
        document.getElementById('email').value = user.email;

    });


    var add_vehicle = function () {
        console.log('before call');
        var settings = {
            "async": true,
            "crossDomain": true,
            "url": "/vehicle_reg/add_vehicle_owner",
            "method": "POST",
            "headers": {
                "content-type": "application/x-www-form-urlencoded",
                "cache-control": "no-cache"
            },
            "data": {
                "reg": $('#reg').val(),
                "type": $('#type').val(),
                "make": $('#make').val(),
                "model": $('#model').val(),
                "year": $('#year').val(),
                "name": $('#name').val(),
                "national": $('#national').val(),
                "mobile": $('#mobile').val(),
                "dob": $('#dob').val(),
                "pin": $('#pin').val(),
                "email": $('#email').val()

            }
        };

        $.ajax(settings).done(function (response) {
            console.log(response);
            if (!response.error) {
                localStorage.removeItem('carReg');
                window.location.href = "/home";
            }
            else {
                Materialize.toast('Vehicle Exists', 3000, 'rounded')
            }
        });

        console.log('after')

    }


</script>

</body>
</html>